<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wulian.icam.demo"
    android:versionCode="1"
    android:versionName="2.2.5" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CONFIGURE_SIP" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- official version -->
        <meta-data
            android:name="httpsPath"
            android:value="pu.sh.gg" />

        <!-- Please Input Your AppName -->
        <meta-data
            android:name="appName"
            android:value="JustTest" />

        <activity
            android:name="com.wulian.icam.demo.view.MainActivity"
            android:label="@string/app_name" >
            <!-- <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> -->
        </activity>
        <activity 
		    android:name="com.wulian.icam.demo.view.FirstActivity"
		    android:label="@string/app_name" >
		    <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
		</activity>
        <activity
            android:name="com.wulian.icam.demo.view.CameraConnectWiFiAP"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.wulian.icam.demo.view.PlayVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.wulian.icam.demo.view.InputDeviceIDActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.wulian.icam.demo.view.BarcodeSettingActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.wulian.icam.demo.view.DeviceSettingActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <receiver
            android:name="com.wulian.siplibrary.plugins.PluginReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.wulian.icam.demo.plugins.action.REGISTER_VIDEO" />
            </intent-filter>

            <meta-data
                android:name="lib_name"
                android:value="libpj_video_android.so" />
            <!-- For now it does not matter in the future we should have one per device, codec, and converter (if needed) -->
            <meta-data
                android:name="init_factory"
                android:value="pjmedia_webrtc_vid_render_factory" />
        </receiver>
        <receiver
            android:name="com.wulian.siplibrary.plugins.PluginReceiverFfmpeg"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.wulian.icam.demo.codecs.action.REGISTER_VIDEO_CODEC" />
            </intent-filter>

            <meta-data
                android:name="lib_name"
                android:value="libpj_video_android.so" />
            <meta-data
                android:name="init_factory"
                android:value="pjmedia_codec_ffmpeg_vid_init" />
            <meta-data
                android:name="deinit_factory"
                android:value="pjmedia_codec_ffmpeg_vid_deinit" />
        </receiver>
        <receiver
            android:name="com.wulian.siplibrary.plugins.PluginReceiverVpx"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.wulian.icam.demo.codecs.action.REGISTER_VIDEO_CODEC" />
            </intent-filter>

            <meta-data
                android:name="lib_name"
                android:value="libpj_vpx.so" />
            <meta-data
                android:name="init_factory"
                android:value="pjmedia_codec_vpx_init" />
            <meta-data
                android:name="deinit_factory"
                android:value="pjmedia_codec_vpx_deinit" />
        </receiver>
    </application>

</manifest>